@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');


.game {
  font-family: 'Unica One', cursive;
  width: 290px;
  height: 380px;
  border: none;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 15px;
  background: #0F2027; 
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
}

.image {
  height: 50%;
}

.image img {
  height: 100%;
  width: 100%;
}

.detail h3 {
  margin-top: 8px;
  color: whitesmoke;
  margin-top: 4px;
  color: whitesmoke;
  font-size: 25px;
}


.detail {
  color: whitesmoke;
  height: 40%;
}


.divGenres{
  font-size: 18px;
  text-decoration: underline;
}