.imgFixer {
    width: 16em;
    height: 12em;
    margin: auto;
    border: 2px solid;
    border-radius: 10px;
  }
  
  .imgWrapper {
    margin-top: 8px;
  }

  .gameBox {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 280px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    border-radius: 10px;
    font-family: sans-serif;
    background-color: rgba(255, 215, 0);
    transition: 1s ease;
    text-decoration: none;
  }
  
  .gameBox div {
    font-weight: bold;
  }
  .gameBox p {
    font-weight: lighter;
  }
  
  .gameBox:hover {
    background-color: rgb(222, 187, 0);
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: 0.4s ease;
  }